.suggestion
    .suggestion__title
        span VIET NAM
    ul.suggestion__list
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
        li
            button(type='button')
                span Ha Noi
                span HAN
    .suggestion__title
        span North America
    ul.suggestion__list
        li
            button(type='button')
                span Los Angeles
                span LAX
        li
            button(type='button')
                span Los Angeles
                span LAX
        li
            button(type='button')
                span Los Angeles
                span LAX
        li
            button(type='button')
                span Los Angeles
                span LAX