footer.footer
    .footer__top
        .container
            .footer__list
                ul
                    li.liTitle.text16.medium.mb15 FlyVietnamAirlines
                    li
                        a(href='aboutUs.html') About Us
                    li
                        a(href='termsOfUse.html') Terms of Use
                    li
                        a(href='policy.html') Privacy Policy
                    li
                        a(href='faq.html') FAQ
                    li
                        a(href='contactUs.html') Contact us
                ul
                    li.liTitle.text16.medium.mb15 Travel Information
                    li
                        a(href='newAndUpdate.html') News & Updates
                    li
                        a(href='baggageInfo.html') Baggage Information
                    li
                        a(href='flightRoutes.html') Flight Routes
                    li
                        a(href='fleet.html') Fleet Revitalization
                    li
                        a(href='favDes.html') Favourite Destinations
                ul
                    li.liTitle.text16.medium.mb15 Manage Booking
                    li
                        a(href='bookingStatus.html') Booking Status
                    li
                        a(href='fareRules.html') Fare Rules
                    li
                        a(href='paymentGuide.html') Payment Guide
                    li
                        a(href='refundRequest.html') Refund Request
                    li
                        a(href='bookingChange.html') Booking Change
                ul
                    li.liTitle.text16.medium.mb15 Extra Services
                    li
                        a(href='hotels.html') Hotels
                    li
                        a(href='tours.html') Tours
                    li
                        a(href='carRentals.html') Car Rentals
                ul
                    li.liTitle.text16.medium.mb15 Welcome to FlyVietnamAirlines
                    li
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's, Lorem Ipsum has been the industry's standard
    .footer__bottom
        .container
            .row
                .col-6
                    p.colorWhite.mb0 Copyright © 2020 All Rights Reserved.
                .col-6
                    .footer__group
                        .footer__icon
                            ul
                                li
                                    a(href='#')
                                        img(src='images/i-card.png')
                                li
                                    a(href='#')
                                        img(src='images/i-mastercard.png')
                                li
                                    a(href='#')
                                        img(src='images/i-jcb.png')
                        .footer__icon
                            ul
                                li
                                    a(href='#')
                                        img(src='images/i-facebook.png')
                                li
                                    a(href='#')
                                        img(src='images/i-google.png')
                                li
                                    a(href='#')
                                        img(src='images/i-youtube.png')