header.header
    .container
        .logo
            a(href='index.html')
                img(src='images/logo.png')
        .header__main
            .navbarBox
                .navbarBox__main
                    .navbarBox__header
                        .logo
                            a(href='index.html')
                                img(src='images/logo.png')
                        button.navbarBox__close(type='button')
                            svg.svg1(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M9.53264 8.11756C9.51712 8.10208 9.50481 8.08369 9.4964 8.06344C9.488 8.04319 9.48368 8.02149 9.48368 7.99957C9.48368 7.97765 9.488 7.95594 9.4964 7.9357C9.50481 7.91545 9.51712 7.89706 9.53264 7.88158L15.7075 1.70742C15.895 1.51966 16.0002 1.26511 16 0.999767C15.9998 0.734425 15.8942 0.480025 15.7065 0.292532C15.5187 0.10504 15.2642 -0.000187268 14.9988 2.50194e-07C14.7335 0.000187768 14.4791 0.105774 14.2916 0.293532L8.11742 6.46503C8.10194 6.48055 8.08355 6.49286 8.0633 6.50126C8.04306 6.50966 8.02135 6.51399 7.99943 6.51399C7.97751 6.51399 7.9558 6.50966 7.93556 6.50126C7.91531 6.49286 7.89692 6.48055 7.88144 6.46503L1.70728 0.293532C1.61444 0.200652 1.50422 0.126966 1.38291 0.0766825C1.26159 0.026399 1.13156 0.000502552 1.00024 0.000471601C0.735021 0.000409094 0.480642 0.105706 0.293061 0.293199C0.10548 0.480692 6.25348e-05 0.735022 2.78134e-08 1.00024C-6.24792e-05 1.26546 0.105235 1.51984 0.292727 1.70742L6.46622 7.88158C6.48174 7.89706 6.49406 7.91545 6.50246 7.9357C6.51086 7.95594 6.51518 7.97765 6.51518 7.99957C6.51518 8.02149 6.51086 8.04319 6.50246 8.06344C6.49406 8.08369 6.48174 8.10208 6.46622 8.11756L0.292727 14.2924C0.19989 14.3853 0.126257 14.4955 0.0760305 14.6169C0.0258043 14.7382 -3.09225e-05 14.8682 2.78134e-08 14.9996C6.25348e-05 15.2648 0.10548 15.5191 0.293061 15.7066C0.385942 15.7994 0.496198 15.8731 0.617536 15.9233C0.738874 15.9735 0.868916 15.9994 1.00024 15.9993C1.26546 15.9993 1.51979 15.8939 1.70728 15.7063L7.88144 9.53144C7.89692 9.51592 7.91531 9.50361 7.93556 9.49521C7.9558 9.48681 7.97751 9.48248 7.99943 9.48248C8.02135 9.48248 8.04306 9.48681 8.0633 9.49521C8.08355 9.50361 8.10194 9.51592 8.11742 9.53144L14.2916 15.7063C14.4791 15.8939 14.7334 15.9993 14.9986 15.9993C15.2638 15.9994 15.5182 15.8941 15.7058 15.7066C15.8934 15.5191 15.9988 15.2648 15.9989 14.9996C15.9989 14.7343 15.8936 14.48 15.7061 14.2924L9.53264 8.11756Z' fill='#2B3990')

                    .navbarBox__body
                        .navbarBox__group
                            .navbarBox__list
                                .navbarBox__title
                                    span Manage booking
                                    svg(width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='black' fill-opacity='0.25')
                                ul
                                    li
                                        a(href='bookingStatus.html') Booking status

                                    li
                                        a(href='refundRequest.html') Refund request

                                    li
                                        a(href='fareRules.html') Fare rules

                                    li
                                        a(href='bookingChange.html') Booking change

                                    li
                                        a(href='paymentGuide.html') Payment guide

                            .navbarBox__list
                                .navbarBox__title
                                    span Travel information
                                    svg(width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='black' fill-opacity='0.25')
                                ul
                                    li
                                        a(href='bookingStatus.html') Booking status

                                    li
                                        a(href='refundRequest.html') Refund request

                                    li
                                        a(href='fareRules.html') Fare rules

                                    li
                                        a(href='bookingChange.html') Booking change

                                    li
                                        a(href='paymentGuide.html') Payment guide

                            .navbarBox__list
                                .navbarBox__title
                                    span Favourite destinations
                                    svg(width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='black' fill-opacity='0.25')
                                ul
                                    li
                                        a(href='bookingStatus.html') Booking status

                                    li
                                        a(href='refundRequest.html') Refund request

                                    li
                                        a(href='fareRules.html') Fare rules

                                    li
                                        a(href='bookingChange.html') Booking change

                                    li
                                        a(href='paymentGuide.html') Payment guide


                            .navbarBox__search
                                .inputSvg
                                    svg.svg1(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.6935 17.9925L15.1596 13.4586C16.2511 12.0054 16.8404 10.2367 16.8384 8.4192C16.8384 3.77688 13.0615 0 8.4192 0C3.77688 0 0 3.77688 0 8.4192C0 13.0615 3.77688 16.8384 8.4192 16.8384C10.2367 16.8404 12.0054 16.2511 13.4586 15.1596L17.9925 19.6935C18.222 19.8986 18.5213 20.0081 18.829 19.9995C19.1367 19.9909 19.4295 19.8648 19.6472 19.6472C19.8648 19.4295 19.9909 19.1367 19.9995 18.829C20.0081 18.5213 19.8986 18.222 19.6935 17.9925ZM2.40549 8.4192C2.40549 7.2298 2.75818 6.06711 3.41898 5.07816C4.07977 4.08921 5.01899 3.31842 6.11785 2.86325C7.21671 2.40809 8.42587 2.289 9.59242 2.52104C10.759 2.75308 11.8305 3.32583 12.6715 4.16686C13.5126 5.00789 14.0853 6.07944 14.3174 7.24598C14.5494 8.41253 14.4303 9.62169 13.9751 10.7205C13.52 11.8194 12.7492 12.7586 11.7602 13.4194C10.7713 14.0802 9.6086 14.4329 8.4192 14.4329C6.82485 14.431 5.29635 13.7968 4.16897 12.6694C3.0416 11.542 2.4074 10.0135 2.40549 8.4192Z' fill='black' fill-opacity='0.45')
                                    input.form-control(type='text' placeholder='Search')
                    .navbarBox__footer
                        .dropdown
                            button.flexGroup1.w-100.text-left(type='button' data-toggle='dropdown')
                                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M17.6428 16.4486C17.6476 16.4419 17.6543 16.4352 17.6581 16.4286C19.174 14.6298 20.0037 12.3523 20 10C20.0036 7.64823 19.175 5.37102 17.6609 3.57144L17.6448 3.55334C17.6209 3.52477 17.5981 3.4981 17.5733 3.47144L17.5467 3.44001L17.4552 3.33525L17.4533 3.33239L17.3505 3.21811L17.3486 3.2162C17.2771 3.14001 17.2057 3.06477 17.1314 2.99144L17.1295 2.98858L17.0219 2.88192L17.0152 2.87525C16.9825 2.84261 16.9491 2.81054 16.9152 2.77906C16.9038 2.76763 16.8933 2.75715 16.879 2.74572C16.8574 2.72416 16.8352 2.7032 16.8124 2.68287C16.8057 2.6762 16.7971 2.66953 16.7905 2.66096C14.9452 0.946699 12.5187 -0.00419157 10 1.38901e-05C7.48087 -0.003725 5.05386 0.947068 3.20763 2.66096C3.20096 2.66763 3.19239 2.6743 3.18572 2.68287C3.16287 2.70287 3.14096 2.72573 3.11906 2.74763C3.10752 2.7593 3.09544 2.77042 3.08287 2.78096L2.98191 2.87715L2.97525 2.88382L2.86858 2.99144L2.86572 2.99334C2.79239 3.06668 2.72096 3.14287 2.64953 3.21906L2.64763 3.22096C2.61144 3.25906 2.5781 3.29715 2.54477 3.33525L2.54287 3.33715C2.51089 3.37101 2.48008 3.40596 2.45049 3.44191L2.42382 3.47334L2.35239 3.5562C2.34858 3.56287 2.34191 3.56668 2.33715 3.57334C0.824203 5.37269 -0.00365161 7.64912 1.21085e-05 10C1.21085e-05 12.4486 0.879059 14.6895 2.33906 16.4286L2.35525 16.4486L2.42382 16.5314C2.43334 16.5419 2.44287 16.5505 2.45049 16.5629L2.54287 16.6676C2.54287 16.6695 2.54477 16.6695 2.54477 16.6724C2.5781 16.7105 2.61144 16.7486 2.64763 16.7838L2.64953 16.7857C2.72096 16.8619 2.79239 16.9381 2.86382 17.0114L2.86572 17.0133C2.90191 17.0495 2.93525 17.0848 2.97048 17.1181L2.9781 17.1248C4.84896 18.9702 7.37213 20.0033 10 20C12.626 20.0037 15.1472 18.9703 17.0152 17.1248L17.0219 17.1181C17.0581 17.0829 17.0933 17.0495 17.1267 17.0133L17.1295 17.0114C17.2029 16.9371 17.2743 16.8619 17.3438 16.7857L17.3457 16.7838C17.379 16.7457 17.4152 16.7095 17.4486 16.6724C17.4486 16.6695 17.4505 16.6695 17.4505 16.6676C17.4819 16.6343 17.5133 16.5981 17.5419 16.5629C17.5514 16.5514 17.5609 16.5429 17.5695 16.5314C17.5943 16.5048 17.619 16.4771 17.6428 16.4486ZM17.7343 13.2657C17.4276 13.9903 17.0204 14.668 16.5248 15.279C15.9667 14.7968 15.3566 14.3783 14.7057 14.0314C14.9638 12.9838 15.1248 11.8352 15.1676 10.6248H18.3705C18.304 11.5339 18.0891 12.426 17.7343 13.2657ZM18.3705 9.37524H15.1676C15.1314 8.22681 14.9766 7.0852 14.7057 5.96858C15.3566 5.62166 15.9667 5.2032 16.5248 4.72096C17.6018 6.04692 18.2461 7.67148 18.3705 9.37524ZM13.2657 2.26573C14.1488 2.63858 14.961 3.16082 15.6667 3.80953C15.2544 4.16072 14.8106 4.47316 14.3409 4.74287C13.9905 3.73811 13.5409 2.86477 13.019 2.16668C13.1019 2.19811 13.1848 2.23144 13.2648 2.26477L13.2657 2.26573ZM11.2438 17.9038C11.056 18.0549 10.8476 18.1784 10.6248 18.2705V14.1295C11.5105 14.1913 12.3816 14.3885 13.2076 14.7143C13.0351 15.2365 12.8185 15.7431 12.56 16.2286C12.1714 16.9505 11.7162 17.5295 11.2429 17.9048L11.2438 17.9038ZM12.56 3.77239C12.8057 4.23239 13.0219 4.73906 13.2076 5.28572C12.3816 5.61152 11.5105 5.80873 10.6248 5.87048V1.73335C10.8305 1.81525 11.0381 1.9362 11.2438 2.09906C11.7162 2.47239 12.1724 3.05049 12.56 3.77334V3.77239ZM10.6248 12.8771V10.6248H13.9171C13.8845 11.5851 13.7628 12.5403 13.5533 13.4781L13.5467 13.5048C12.6099 13.1494 11.6248 12.9378 10.6248 12.8771ZM10.6248 9.37524V7.12286C11.6248 7.06221 12.6099 6.85061 13.5467 6.49524L13.5533 6.52191C13.759 7.43048 13.8819 8.38572 13.9171 9.37524H10.6248ZM9.37524 10.6248V12.8771C8.37519 12.9378 7.39008 13.1494 6.45334 13.5048L6.44667 13.4781C6.2371 12.5403 6.11531 11.5851 6.08286 10.6248H9.37524ZM6.08286 9.37524C6.1181 8.38857 6.24096 7.43048 6.44667 6.52191L6.45334 6.49524C7.37048 6.84382 8.35048 7.06001 9.37524 7.12286V9.37524H6.08286ZM9.37524 14.1295V18.2676C9.15235 18.1762 8.94384 18.053 8.75619 17.9019C8.28381 17.5286 7.82572 16.9495 7.43715 16.2257C7.18034 15.7395 6.96375 15.233 6.78953 14.7114C7.61672 14.3868 8.48871 14.1905 9.37524 14.1295ZM9.37524 5.87048C8.48946 5.80873 7.61839 5.61152 6.79239 5.28572C6.9781 4.7362 7.19238 4.22953 7.44 3.77144C7.82857 3.04953 8.28381 2.46858 8.75905 2.09525C8.96476 1.93525 9.16953 1.81239 9.3781 1.72954V5.87048H9.37524ZM6.73334 2.26668C6.81619 2.23334 6.89619 2.20001 6.97905 2.16858C6.4562 2.86668 6.00762 3.74001 5.65715 4.74382C5.18763 4.47448 4.74441 4.16168 4.33334 3.80953C5.03911 3.16118 5.85131 2.63926 6.73429 2.26668H6.73334ZM2.26668 6.73334C2.57336 6.00879 2.98053 5.33103 3.4762 4.72001C4.03239 5.20001 4.64191 5.62001 5.29524 5.96763C5.0362 7.01524 4.8762 8.16381 4.83334 9.37429H1.62953C1.6962 8.46096 1.91049 7.57429 2.26572 6.73334H2.26668ZM1.63049 10.6238H4.83334C4.8762 11.8333 5.0362 12.9838 5.29524 14.0305C4.64477 14.3771 4.03429 14.7952 3.4762 15.2781C2.39911 13.9521 1.75488 12.3276 1.63049 10.6238ZM6.73524 17.7333C5.85193 17.3608 5.03941 16.8389 4.33334 16.1905C4.74667 15.8381 5.19048 15.5276 5.65905 15.2571C6.00953 16.2619 6.45905 17.1352 6.98096 17.8333C6.89853 17.802 6.81661 17.7693 6.73524 17.7352V17.7333ZM13.2667 17.7333C13.1838 17.7667 13.1038 17.8 13.0209 17.8314C13.5438 17.1333 13.9924 16.26 14.3429 15.2562C14.8114 15.5229 15.2552 15.8362 15.6686 16.1895C14.9626 16.8383 14.15 17.3605 13.2667 17.7333Z' fill='black' fill-opacity='0.45')

                                span.flex1 Language
                                svg.svgArrow(width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0.21967 11.0303C-0.0732233 10.7374 -0.0732234 10.2626 0.21967 9.96967L4.18934 6L0.21967 2.03033C-0.0732237 1.73744 -0.0732237 1.26256 0.219669 0.96967C0.512563 0.676777 0.987436 0.676777 1.28033 0.96967L5.78033 5.46967C6.07322 5.76256 6.07322 6.23744 5.78033 6.53033L1.28033 11.0303C0.987437 11.3232 0.512563 11.3232 0.21967 11.0303Z' fill='black' fill-opacity='0.45')

                            .dropdown-menu
                                .listLang
                                    a.dropdown-item(href='#')
                                        img(src='images/lang-uk.png')
                                        span English
                                    a.dropdown-item(href='#')
                                        img(src='images/lang-thailand.png')
                                        span ภาษาไทย
                                    a.dropdown-item(href='#')
                                        img(src='images/lang-france.png')
                                        span Français
                                    a.dropdown-item(href='#')
                                        img(src='images/lang-china.png')
                                        span China
                .navbarBox__backdrop
            .header__search
                .dropdown
                    button.header__btn(type='button' data-toggle='dropdown')
                        svg.svg1(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M19.6935 17.9925L15.1596 13.4586C16.2511 12.0054 16.8404 10.2367 16.8384 8.4192C16.8384 3.77688 13.0615 0 8.4192 0C3.77688 0 0 3.77688 0 8.4192C0 13.0615 3.77688 16.8384 8.4192 16.8384C10.2367 16.8404 12.0054 16.2511 13.4586 15.1596L17.9925 19.6935C18.222 19.8986 18.5213 20.0081 18.829 19.9995C19.1367 19.9909 19.4295 19.8648 19.6472 19.6472C19.8648 19.4295 19.9909 19.1367 19.9995 18.829C20.0081 18.5213 19.8986 18.222 19.6935 17.9925ZM2.40549 8.4192C2.40549 7.2298 2.75818 6.06711 3.41898 5.07816C4.07977 4.08921 5.01899 3.31842 6.11785 2.86325C7.21671 2.40809 8.42587 2.289 9.59242 2.52104C10.759 2.75308 11.8305 3.32583 12.6715 4.16686C13.5126 5.00789 14.0853 6.07944 14.3174 7.24598C14.5494 8.41253 14.4303 9.62169 13.9751 10.7205C13.52 11.8194 12.7492 12.7586 11.7602 13.4194C10.7713 14.0802 9.6086 14.4329 8.4192 14.4329C6.82485 14.431 5.29635 13.7968 4.16897 12.6694C3.0416 11.542 2.4074 10.0135 2.40549 8.4192Z' fill='white')
                        span Search
                    .dropdown-menu
                        .inputSearch
                            input.form-control(type='text' placeholder='Search')
                            button.btn.btn-orange(type='button')
                                svg.svg1(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.4073 17.7527L14.9969 13.3422C16.0587 11.9286 16.6319 10.208 16.63 8.44C16.63 3.92406 12.9559 0.25 8.44 0.25C3.92406 0.25 0.25 3.92406 0.25 8.44C0.25 12.9559 3.92406 16.63 8.44 16.63C10.208 16.6319 11.9286 16.0587 13.3422 14.9969L17.7527 19.4073C17.9759 19.6069 18.2671 19.7135 18.5664 19.7051C18.8658 19.6967 19.1506 19.574 19.3623 19.3623C19.574 19.1506 19.6967 18.8658 19.7051 18.5664C19.7135 18.2671 19.6069 17.9759 19.4073 17.7527ZM2.59 8.44C2.59 7.28298 2.9331 6.15194 3.5759 5.18991C4.21871 4.22789 5.13235 3.47808 6.2013 3.03531C7.27025 2.59253 8.44649 2.47668 9.58128 2.70241C10.7161 2.92813 11.7584 3.48529 12.5766 4.30343C13.3947 5.12156 13.9519 6.16393 14.1776 7.29872C14.4033 8.43351 14.2875 9.60975 13.8447 10.6787C13.4019 11.7476 12.6521 12.6613 11.6901 13.3041C10.7281 13.9469 9.59702 14.29 8.44 14.29C6.88906 14.2881 5.40217 13.6712 4.30548 12.5745C3.2088 11.4778 2.59186 9.99095 2.59 8.44Z' fill='white')

            .header__lang
                .dropdown
                    button.header__btn(type='button' data-toggle='dropdown')
                        svg.svg1(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M17.6428 16.4486C17.6476 16.4419 17.6543 16.4352 17.6581 16.4286C19.174 14.6298 20.0037 12.3523 20 10C20.0036 7.64823 19.175 5.37102 17.6609 3.57144L17.6447 3.55334C17.6209 3.52477 17.5981 3.4981 17.5733 3.47144L17.5466 3.44001L17.4552 3.33525L17.4533 3.33239L17.3505 3.21811L17.3485 3.2162C17.2771 3.14001 17.2057 3.06477 17.1314 2.99144L17.1295 2.98858L17.0219 2.88192L17.0152 2.87525C16.9824 2.84261 16.9491 2.81054 16.9152 2.77906C16.9038 2.76763 16.8933 2.75715 16.879 2.74572C16.8574 2.72416 16.8352 2.7032 16.8124 2.68287C16.8057 2.6762 16.7971 2.66953 16.7905 2.66096C14.9452 0.946699 12.5186 -0.00419157 9.99999 1.38901e-05C7.48086 -0.003725 5.05385 0.947068 3.20761 2.66096C3.20095 2.66763 3.19238 2.6743 3.18571 2.68287C3.16285 2.70287 3.14095 2.72573 3.11904 2.74763C3.10751 2.7593 3.09543 2.77042 3.08285 2.78096L2.9819 2.87715L2.97523 2.88382L2.86857 2.99144L2.86571 2.99334C2.79238 3.06668 2.72095 3.14287 2.64952 3.21906L2.64761 3.22096C2.61142 3.25906 2.57809 3.29715 2.54476 3.33525L2.54285 3.33715C2.51088 3.37101 2.48007 3.40596 2.45047 3.44191L2.42381 3.47334L2.35238 3.5562C2.34857 3.56287 2.3419 3.56668 2.33714 3.57334C0.82419 5.37269 -0.00366496 7.64912 -1.24298e-06 10C-1.24298e-06 12.4486 0.879045 14.6895 2.33904 16.4286L2.35523 16.4486L2.42381 16.5314C2.43333 16.5419 2.44285 16.5505 2.45047 16.5629L2.54285 16.6676C2.54285 16.6695 2.54476 16.6695 2.54476 16.6724C2.57809 16.7105 2.61142 16.7486 2.64761 16.7838L2.64952 16.7857C2.72095 16.8619 2.79238 16.9381 2.8638 17.0114L2.86571 17.0133C2.9019 17.0495 2.93523 17.0848 2.97047 17.1181L2.97809 17.1248C4.84894 18.9702 7.37211 20.0033 9.99999 20C12.626 20.0037 15.1472 18.9703 17.0152 17.1248L17.0219 17.1181C17.0581 17.0829 17.0933 17.0495 17.1266 17.0133L17.1295 17.0114C17.2028 16.9371 17.2743 16.8619 17.3438 16.7857L17.3457 16.7838C17.379 16.7457 17.4152 16.7095 17.4485 16.6724C17.4485 16.6695 17.4505 16.6695 17.4505 16.6676C17.4819 16.6343 17.5133 16.5981 17.5419 16.5629C17.5514 16.5514 17.5609 16.5429 17.5695 16.5314C17.5943 16.5048 17.619 16.4771 17.6428 16.4486ZM17.7343 13.2657C17.4276 13.9903 17.0204 14.668 16.5247 15.279C15.9667 14.7968 15.3566 14.3783 14.7057 14.0314C14.9638 12.9838 15.1247 11.8352 15.1676 10.6248H18.3705C18.304 11.5339 18.0891 12.426 17.7343 13.2657ZM18.3705 9.37524H15.1676C15.1314 8.22681 14.9766 7.0852 14.7057 5.96858C15.3566 5.62166 15.9667 5.2032 16.5247 4.72096C17.6018 6.04692 18.2461 7.67148 18.3705 9.37524ZM13.2657 2.26573C14.1488 2.63858 14.961 3.16082 15.6666 3.80953C15.2544 4.16072 14.8106 4.47316 14.3409 4.74287C13.9905 3.73811 13.5409 2.86477 13.019 2.16668C13.1019 2.19811 13.1847 2.23144 13.2647 2.26477L13.2657 2.26573ZM11.2438 17.9038C11.056 18.0549 10.8475 18.1784 10.6247 18.2705V14.1295C11.5105 14.1913 12.3816 14.3885 13.2076 14.7143C13.0351 15.2365 12.8185 15.7431 12.56 16.2286C12.1714 16.9505 11.7162 17.5295 11.2428 17.9048L11.2438 17.9038ZM12.56 3.77239C12.8057 4.23239 13.0219 4.73906 13.2076 5.28572C12.3816 5.61152 11.5105 5.80873 10.6247 5.87048V1.73335C10.8305 1.81525 11.0381 1.9362 11.2438 2.09906C11.7162 2.47239 12.1724 3.05049 12.56 3.77334V3.77239ZM10.6247 12.8771V10.6248H13.9171C13.8845 11.5851 13.7627 12.5403 13.5533 13.4781L13.5466 13.5048C12.6099 13.1494 11.6248 12.9378 10.6247 12.8771ZM10.6247 9.37524V7.12286C11.6248 7.06221 12.6099 6.85061 13.5466 6.49524L13.5533 6.52191C13.759 7.43048 13.8819 8.38572 13.9171 9.37524H10.6247ZM9.37523 10.6248V12.8771C8.37518 12.9378 7.39007 13.1494 6.45332 13.5048L6.44666 13.4781C6.23709 12.5403 6.11529 11.5851 6.08285 10.6248H9.37523ZM6.08285 9.37524C6.11809 8.38857 6.24094 7.43048 6.44666 6.52191L6.45332 6.49524C7.37047 6.84382 8.35046 7.06001 9.37523 7.12286V9.37524H6.08285ZM9.37523 14.1295V18.2676C9.15233 18.1762 8.94383 18.053 8.75618 17.9019C8.2838 17.5286 7.8257 16.9495 7.43713 16.2257C7.18033 15.7395 6.96373 15.233 6.78951 14.7114C7.61671 14.3868 8.48869 14.1905 9.37523 14.1295ZM9.37523 5.87048C8.48945 5.80873 7.61837 5.61152 6.79237 5.28572C6.97809 4.7362 7.19237 4.22953 7.43999 3.77144C7.82856 3.04953 8.2838 2.46858 8.75904 2.09525C8.96475 1.93525 9.16951 1.81239 9.37808 1.72954V5.87048H9.37523ZM6.73332 2.26668C6.81618 2.23334 6.89618 2.20001 6.97904 2.16858C6.45618 2.86668 6.00761 3.74001 5.65714 4.74382C5.18761 4.47448 4.7444 4.16168 4.33333 3.80953C5.0391 3.16118 5.85129 2.63926 6.73428 2.26668H6.73332ZM2.26666 6.73334C2.57335 6.00879 2.98052 5.33103 3.47619 4.72001C4.03237 5.20001 4.6419 5.62001 5.29523 5.96763C5.03618 7.01524 4.87618 8.16381 4.83333 9.37429H1.62952C1.69619 8.46096 1.91047 7.57429 2.26571 6.73334H2.26666ZM1.63047 10.6238H4.83333C4.87618 11.8333 5.03618 12.9838 5.29523 14.0305C4.64476 14.3771 4.03428 14.7952 3.47619 15.2781C2.3991 13.9521 1.75486 12.3276 1.63047 10.6238ZM6.73523 17.7333C5.85192 17.3608 5.0394 16.8389 4.33333 16.1905C4.74666 15.8381 5.19047 15.5276 5.65904 15.2571C6.00952 16.2619 6.45904 17.1352 6.98094 17.8333C6.89851 17.802 6.8166 17.7693 6.73523 17.7352V17.7333ZM13.2666 17.7333C13.1838 17.7667 13.1038 17.8 13.0209 17.8314C13.5438 17.1333 13.9924 16.26 14.3428 15.2562C14.8114 15.5229 15.2552 15.8362 15.6686 16.1895C14.9626 16.8383 14.15 17.3605 13.2666 17.7333Z' fill='white')
                        span Language
                        svg.svg1.svgArrow(width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M0.96967 0.21967C1.26256 -0.0732233 1.73744 -0.0732233 2.03033 0.21967L6 4.18934L9.96967 0.21967C10.2626 -0.0732233 10.7374 -0.0732233 11.0303 0.21967C11.3232 0.512563 11.3232 0.987437 11.0303 1.28033L6.53033 5.78033C6.23744 6.07322 5.76256 6.07322 5.46967 5.78033L0.96967 1.28033C0.676777 0.987437 0.676777 0.512563 0.96967 0.21967Z' fill='white')
                    .dropdown-menu
                        .listLang
                            a.dropdown-item(href='#')
                                img(src='images/lang-uk.png')
                                span English
                            a.dropdown-item(href='#')
                                img(src='images/lang-thailand.png')
                                span ภาษาไทย
                            a.dropdown-item(href='#')
                                img(src='images/lang-france.png')
                                span Français
                            a.dropdown-item(href='#')
                                img(src='images/lang-china.png')
                                span China
            button.header__btn.header__toggle(type='button')
                svg.svg1(width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18.75 0.083313H1.25001C0.789768 0.083313 0.416672 0.456409 0.416672 0.916646V1.74998C0.416672 2.21022 0.789768 2.58331 1.25001 2.58331H18.75C19.2102 2.58331 19.5833 2.21022 19.5833 1.74998V0.916646C19.5833 0.456409 19.2102 0.083313 18.75 0.083313Z' fill='white')
                    path(d='M18.75 6.75H1.25001C0.789768 6.75 0.416672 7.1231 0.416672 7.58333V8.41667C0.416672 8.8769 0.789768 9.25 1.25001 9.25H18.75C19.2102 9.25 19.5833 8.8769 19.5833 8.41667V7.58333C19.5833 7.1231 19.2102 6.75 18.75 6.75Z' fill='white')
                    path(d='M18.75 13.4166H1.25001C0.789768 13.4166 0.416672 13.7897 0.416672 14.25V15.0833C0.416672 15.5435 0.789768 15.9166 1.25001 15.9166H18.75C19.2102 15.9166 19.5833 15.5435 19.5833 15.0833V14.25C19.5833 13.7897 19.2102 13.4166 18.75 13.4166Z' fill='white')
                span Menu
